#map {
    -fx-background-color: #F5F5DC;
}

.first-clicked {
    -fx-stroke: green;
    -fx-fill: green;
}

.second-clicked {
    -fx-stroke: red;
    -fx-fill: red;
}

.color-line {
    -fx-stroke: #1e90ff;
    -fx-stroke-width: 4;
}

.color-vertex {
    -fx-fill: #1e90ff;
    -fx-stroke: #1e90ff;
    -fx-stroke-width: 2;
}

#startBtn {
    -fx-background-radius: 25px;
    -fx-background-color: green;
    -fx-padding: 10px;
    -fx-font-size: 25px;
}

#startBtn:hover {
    -fx-background-color: #90EE90;
}

#tryAgainBtn {
    -fx-background-radius: 25px;
    -fx-background-color: #FFA500;
    -fx-padding: 10px;
    -fx-font-size: 25px;
}

#tryAgainBtn:hover {
    -fx-background-color: #FFD700;
}

#menuPane {
    -fx-background-color: #C4A484;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
}