#map {
    -fx-background-color: #F5F5DC;
}

.first-clicked {
    -fx-fill: green;
}

.second-clicked {
    -fx-fill: red;
}

.color-line {
    -fx-stroke: #1e90ff;
    -fx-stroke-width: 4;
}
.color-vertex {
    -fx-fill: #1e90ff;
    -fx-stroke: #1e90ff;
    -fx-stroke-width: 2;
}